
.custom-purple {
    background-color: #f3ebff;
    border-color: #f3ebff;
    color: #7b2cbf;
}

.custom-yellow {
    background-color: #fff3cd;
    border-color: #fff3cd;
    color: #b8860b;
}

#pass-confetti {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
